<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add 
      name="SchoolModelContainer" 
      connectionString="metadata=res://*/SchoolModel.csdl|res://*/SchoolModel.ssdl|res://*/SchoolModel.msl;
                        provider=System.Data.SqlClient;
                        provider connection string=&quot;data source=localhost\sqlexpress;
                        initial catalog=School;
                        user id=sa;
                        password=sasa2015;
                        multipleactiveresultsets=True;
                        App=EntityFramework&quot;" 
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>